/* НЕ ВЕЛЮЧАТЬ, МЫ НА СТОРОНЕ ТЬМЫ */

.page.theme_light {
  --backgound-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --title-color: #ffc2e6;
  --menu-color: #353430;
  --accent-color: #ff8dcb;
  --paragraph-text-color: #353430;
  --article-heading-color: #353430;
  --accent-text-color: #353430;
  --outline-button: rgb(53 52 48 / 0.4);
}


.page.theme_light .decoration-rec {
  display: none;
}


@media (prefers-color-scheme: light) {

  .page {

  --backgound-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --title-color: #ffc2e6;
  --menu-color: #353430;
  --accent-color: #ff8dcb;
  --paragraph-text-color: #353430;
  --article-heading-color: #353430;
  --accent-text-color: #353430;
  --outline-button: rgb(53 52 48 / 0.4);
  }

  .page.theme_auto .decoration-rec {
    display: none;
  }
}
