/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root{
  --backgound-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --menu-color: #353430;
  --accent-color: #FF8DCB;
  --paragraph-text-color: #353430;
  --article-heading-color: #FF0070;
  --accent-text-color: #353430;
}




.page.theme_light .decoration__text,
.page.theme_light .decoration__empty-tag-up::after {
  display: none;
}