/* НЕ ВЕЛЮЧАТЬ, МЫ НА СТОРОНЕ ТЬМЫ */

.page.theme_light {
  --backgound-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --title-color: #ffc2e6;
  --menu-color: #353430;
  --accent-color: #ff8dcb;
  --paragraph-text-color: #353430;
  --article-heading-color: #ff0070;
  --accent-text-color: #353430;
}

.page.theme_light .decoration__text,
.page.theme_light .decoration__empty-tag-up::after {
  display: none;
}

@media (prefers-color-scheme: light) {

  .page {
    --backgound-image: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --menu-color: #353430;
    --accent-color: #ff8dcb;
    --paragraph-text-color: #353430;
    --article-heading-color: #ff0070;
    --accent-text-color: #353430;
  }
}
