/* Основные стили проекта. 
Это стили для темы, которую вы 
верстаете первой. */

.page {
  background-image: var(--backgound-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  padding: var(--page-padding);
}

/* HEADER START */

.header {
  height: calc(100vh - calc(var(--page-padding) * 2));
  position: relative;
  display: grid;
  grid-auto-columns: 100%;
  grid-template-rows: 1fr min-content 1fr;
}

.decoration {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 2.96px;
  justify-content: end;
  align-items: center;
}

.decoration__text {
  color: var(--main-color);
}

.decoration__empty-tag-up {
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--main-color);
  border-inline-end: 1px solid var(--main-color);
}

.decoration__empty-tag-up::after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  width: 9px;
  height: 9px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px var(--accent-color);
}

.decoration__empty-tag-down {
  bottom: 0;
  left: 0;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--main-color);
  border-inline-start: 1px solid var(--main-color);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  color: var(--main-color);
  background-color: transparent;
  text-transform: lowercase;
  line-height: 19px;
  padding: 0 13px;
  padding-top: 1.5px;
  padding-bottom: 3px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-color);
}

.header__title-title {
  text-transform: lowercase;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  align-self: center;
}

.header__title_container {
  display: flex;
  align-self: center;
  justify-content: end;
}

.header__title-description {
  background-color: var(--accent-color);
  color: var(--heading-color);
  font-weight: 700;
  line-height: 23.4px;
}
/* HEADER END */

/* MAIN START */
/* ARTICLE-WHY START */

.article {
  display: grid;
  row-gap: 20px;
  color: var(--accent-color);
  margin-block-start: 50px;
}


.article-why__header {
  color: currentColor;
}

.article__header-title {
  color: currentColor;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.article__main-heading {
  color: var(--heading-color);
  background-color: var(--accent-color);
  margin-block-end: 10px;
  font-size: 18px;
  line-height: 23.4px;
}

.article__main-paragraph {
  color: var(--paragraph-color);
  font-weight: 400;
  line-height: 23.4px;
}

.article__main-paragraph:not(:last-of-type) {
  margin-block-end: 20px;
}

.article-link {
  color: currentColor;
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.article-link:hover {
  text-decoration: underline;
}

.article-link:focus-visible {
  outline: 1px solid var(--paragraph-color);
}
/* ARTICLE-WHY END */

/* ARTICLE-WHAT START */

.article__main-double-heading {
  color: var(--heading-color);
  background-color: var(--accent-color);
  margin-block-end: 20px;
  font-size: 18px;
  line-height: 23.4px;
}

.article__main-ad-heading {
  color: var(--heading-color);
  background-color: var(--accent-color);
  margin-block-end: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.article__main-heading-pictures {
  margin-block-start: 50px;
}

.pictures-container {
  display: grid;
  row-gap: 10px;
  grid-template-rows: 142px 355px 237px 355px 237px;
}

.pictures-item__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

/* ARTICLE-HOW END */

/* ARTICLE-PICTURES START */

/* ARTICLE-PICTURES END */

.footer {
  position: relative;
  margin-block-start: 50px;
  height: calc(100vh - calc(var(--page-padding) * 2));
  display: flex;
  justify-content: center;
  align-items: center;
}


.decoration-footer__empty-tag-up::after {
  display: none;
}

/* @MEDIA START */

@media (min-width: 768px) {

  .page {
    --page-padding: 20px;
  }

  .header__theme-menu {
    padding-block-end: 10px;
  }

  .header__title-title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .header__title-description {
    grid-column: 2/3;
  }

  .article {
    margin-block-start: 80px;
    column-gap: 20px;
    grid-template-columns: 1fr 2fr;
  }

  .article-why {
    
  }

  .article-what {

  }

  .article-what__header {
    grid-column: span 1;
  }

  .article-what__main{
    grid-column: span 3;
  }

.article-how__header {
  grid-column: span 1;
}

.article-how__main {
  grid-column: 2/3;
}

.article-pictures {
  margin-block-start: 80px;
  column-gap: 20px;
}

.article__main-heading-pictures {
grid-column: span 2;
}

.pictures-container{
  margin-block-start: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 192px 230px 318px;
  gap: 20px;
}

.pictures-item-1 {
grid-column: span 2;
}

.pictures-item-2 {
grid-row: span 2;
}

.pictures-item-3 {
  grid-row: span 2;
}

.pictures-item-4 {

}

.pictures-item-5 {
  grid-column: span 2;
}
.footer {
  margin-block-start: 80px;
}

.footer__title-title {
margin: 0;
}








  

@media (min-width: 1024px) {

  .header__theme-menu {
    justify-content: center;
    align-items: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-block-start: 0;
  }

  .article-what {
    grid-template-columns: repeat(3, 1fr);
  }

  .article-what__main {
    grid-column: repeat(3, 1fr);
  }

  body{
    min-width: calc(1025px);
  }

  .pictures-container{
    grid-template-rows: 260px 315px 428px;
  }

  
}
/* @MEDIA END */
