/*
  Переменные для вашего проекта
  и их переопределение под различные 
  устройства
*/

:root {
  --backgound-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --menu-color: #FF0070;
  --accent-color: #ff0070;
  --paragraph-text-color: #F1B2CE;
  --article-heading-color: #FF0070;
  --accent-text-color: #000028;
}
